* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #60bdc4);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background: #fff;
  width: 350px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.todo-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-section button {
  padding: 10px 15px;
  background: #3551cf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-section button:hover {
  background: #505eda;
}

ul {
  list-style: none;
}

li {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  cursor: pointer;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background: #27ca06;
   color: white;
}

.delete-btn {
  background: #d10606;
  color: white;
}
